.header, .footer{
    width: 100%;
    position: fixed;        
    height: 40px;
}

.header{
    background-color: blue;
    top: 0;
}

.footer{
    background-color: red;
    bottom: 0;
}

.title-top {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
}

.volvamos {
    position: relative;
    left: 25em;
    top: 15em;
}