body {
    padding: 50px;
    background-color: beige;
}

.negrita {
    font-weight: bold;
}

.italica {
    font-style: italic;
}

.underline {
    text-decoration-line: underline;
}

.preformatted {
    font-family: monospace;
    white-space: pre;
}

.ex1 h1 {
    color: brown;
}

.megalogo {
    height: 150px;
    border-radius: 50%;
}

.titulo {
    color: rgb(44, 115, 247);
    font-size: 30px;
    font-style: italic;
}

.texto {
    color: blue;
    font-size: 15px;
}

.destacado {
    font-style: italic;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.vert-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.icon {
    height: 2em;
}

.anuncio {
    padding: 1em;
    max-width: 20%;
    background-color: white;
    border-radius: 7%;
}

.img-anuncio {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5%;
}

.cuadrado {
    position: relative;
    left: 25em;
    top: 7em;
    height: 15em;
    width: 15em;
    background-color: brown;
}

.redonda {
    border-radius: 100%;
    border: 1em solid brown;
    background-color: white;
}