#redonda {
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
}

.gray {
    background-color: gray;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}