.container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    background-color: aquamarine;
    max-width: 16em;
}

.circulito {
    margin: 1px;
    background-color: pink;
    color: azure;
    border-radius: 50%;
    height: 5em;
    width: 5em;
}

.numeros {
    margin: 1em;
    font-size: 25px;
}